<div>
    {% if current_user.is_authenticated %}
    <div>
        Users:
        <ul>
            <li><a href="{{ url_for('html', action='list', kind='userevent') }}">User activity list</a></li>
            <li><a href="{{ url_for('html', action='list', kind='user') }}">Users watched by you</a></li>
            <li><a href="{{ url_for('html', action='add', kind='user') }}">Add a user</a></li>
        </ul>
    </div>
    <div>
        Objects:
        <ul>
            <li><a href="{{ url_for('html', action='list', kind='objectevent') }}">Object activity list</a></li>
            <li><a href="{{ url_for('html', action='list', kind='object') }}">Objects watched by you</a></li>
            <li><a href="{{ url_for('html', action='add', kind='object') }}">Add an object</a></li>
        </ul>
    </div>
    <div>
        Last Update Time: 
    </div>
    {% endif %}
</div>
